div.update-form-row {
    border: 5px solid lightgray;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    margin-left: 20%;
    margin-right: 8%;
    justify-content: center;
    width: 50rem;
}

.update-password-section .form-group,
.form-group {
    margin-bottom: 1rem;
}

div.update-password-section {
    width: 30rem;
}

div.form-label h1 {
    font-size: 27px;
    font-family: 'Quicksand', sans-serif;
    color: #cf3d27;
    font-weight: bold;
}

div.form-label p {
    font-family: 'Quicksand', sans-serif;
}

button[type="submit"].update-pass-btn,
a.update-pass-btn {
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: orange;
    color: white;
}

a.update-pass-btn:hover,
button[type="submit"].update-pass-btn:hover {
    background: none;
    border: 1px solid orange;
    color: #000;
}

/**---- Customized the bootstrap default input bar Colors ---**/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f3d1cb;
    outline: 0;
    box-shadow: none;
}

/* ----- Avatar Preview Image ---- */
.avatar-preview-img {
    height: 100px;
    width: 100px;
    margin-left: 10rem;
    border-radius: 20px;
}



/**The Media Quries for Phone Screen Confortable**/
/**iPhone 6,7,8 or Uppper Screen Comfortable**/
@media only screen and (max-width: 720px) {
    div.update-form-row {
        margin: 0;
        border-radius: 0;
        border: 0;
        padding: 0 10px;
        padding-bottom: 3rem;
        width: unset;
    }

    section#update-password {
        margin-bottom: 0 !important;
    }

    form.form-section {
        margin-bottom: 3rem;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    /**Registation Form**/
    div.register-section,
    div.update-password-section {
        width: 100%;
        float: unset;
        padding: 0;
        margin-top: 2rem;
        text-align: center;
        display: grid;
        justify-items: center;
        border-right: 0;
    }

    /* ----- Avatar Preview Image ---- */
    .avatar-preview-img {
        height: 100px;
        width: 100px;
        margin-left: 8%;
        border-radius: 20px;
    }
}