
.search-bar-wrapper {
    display: inline-flex;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.search-bar {
    width: 90%;
    text-align: left;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
}
.search-icon{
    background-color: rgb(220, 220, 220);
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0 5px 5px 0;
    margin-left: 25px;
}
.search-icon:hover {
    /* background-color: orange; */
    cursor: pointer;
}


@media only screen and (min-width: 1300px) {
    .search-bar-wrapper {
        width: 800px;
    }
}